footer
{
    margin-top: 50px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #333;
    color: #fff;
    width: 100%;
}

footer .footer__info
{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

footer .footer__info .footer__info-date,
footer .footer__info .footer__info-sns,
footer .footer__info .footer__info-user
{
    font-weight: lighter;
    font-size:12px;
}

footer .footer__info .footer__info-date p,
footer .footer__info .footer__info-sns p,
footer .footer__info .footer__info-user p 
{
    opacity: .7;
}

footer .footer__info .footer__info-date
{
    width: 30%;
}

footer .footer__info .footer__info-sns
{
    width: 45%;
    border-right: 1px solid #fff;
}

footer .footer__info .footer__info-user
{
    width: 10%;
    padding-left: 20px;
}

footer .footer__info .footer__info-date h6 {
    font-size: 0.95rem;
    font-weight: lighter;
}

footer .footer__info .footer__info-date i,
footer .footer__info .footer__info-sns i
{
    font-size: 24px;
    padding: 2px 12px;
}

footer .footer__info .footer__info-user i
{
    font-size: 36px;
    display: inline;
}